* {
  margin: 1rem;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  height: 90px;
  justify-content: space-between;
  align-items: center;
  padding: 0 2px;
}

header nav ul {
  display: flex;
  gap: 1rem;
  list-style: none;
}

header nav ul li a {
  list-style: none;
  text-decoration: none;
  color: black;
}

header img {
  width: 5rem;
  height: 5rem;
}
.wrapper-1 {
  height: 650px;
  background: #f57f7f;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 2rem;
}
.img-1 {
  width: 130px;
  border-radius: 1rem;
}

.text-1 {
  color: white;
  max-width: 500px;
  margin-bottom: 2rem;
  font-size: 1.1rem;
  line-height: 1.5;
}

.text-2 {
  font-size: 2rem;
  color: white;
  margin-bottom: 1rem;
  letter-spacing: 2px;
}

.btn {
  background: white;
  color: black;
  padding: 0.9rem 2.5rem;
  border-radius: 4px;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 1px;
  transition: 0.3s ease;
}

.btn:hover {
  background: #efefef;
}

.text-3 {
  font-size: 3rem;
  color: black;
  margin-bottom: 1rem;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.underline {
  width: 4rem;
  height: 1rem;
  background: black;
  margin: auto;
  border-radius: 2px;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5rem;
}
.gallery-item img {
  width: 100%;
  height: 30rem;
  display: block;
  border-radius: 8px;
}
